In [1]:
import pandas as pd

# Open data

## Open SOS Measurement Dataset

In [2]:
start_date = '20221130'
end_date = '20230509'
# open files
tidy_df_5Min_fn = f'tidy_df_{start_date}_{end_date}_noplanar_fit_clean.parquet'
tidy_df_5Min = pd.read_parquet(tidy_df_5Min_fn)
# convert time column to datetime
tidy_df_5Min['time'] = pd.to_datetime(tidy_df_5Min['time'])
# limit data to our dates of interest, based on continuous snow cover at Kettle Ponds
tidy_df_5Min = tidy_df_5Min.set_index('time').sort_index().loc[start_date:end_date].reset_index()

OUTPUT_FILENAME = f'tidy_df_30min_{start_date}_{end_date}_noplanar_fit_clean.parquet'

In [3]:
tidy_df_5Min

,time,variable,value,height,tower,measurement
0,2022-11-30 00:02:30,u_tc__3m_uw,0.023500,3.0,uw,u_tc_
1,2022-11-30 00:02:30,Ri_20m_c,1.658501,20.0,c,richardson number
2,2022-11-30 00:02:30,mixingratio_8m_c,0.000972,8.0,c,mixing ratio
3,2022-11-30 00:02:30,u*_3m_c predicted (1e-05),0.116448,3.0,c,shear velocity
4,2022-11-30 00:02:30,u_tc__2m_c,-0.107065,2.0,c,u_tc_
...,...,...,...,...,...,...
30316015,2023-05-09 17:57:30,Tpot_17m_c,39.847046,17.0,c,potential temperature
30316016,2023-05-09 17:57:30,counts_10m_d_2,5966.000000,10.0,d,eddy covariance co2 high rate count
30316017,2023-05-09 17:57:30,vaporpressure_16m_c,345.533905,16.0,c,vapor pressure
30316018,2023-05-09 17:57:30,mixingratio_16m_c,0.003004,16.0,c,mixing ratio
30316019,2023-05-09 17:57:30,z0_windprofile_weekly,0.001812,3.0,c,z0

In [4]:
tidy_df_30Min = tidy_df_5Min.set_index('time').groupby(
    [pd.Grouper(freq='30Min'), 'tower', 'height', 'measurement', 'variable']
).max().reset_index()

In [5]:
tidy_df_30Min.to_parquet(
    OUTPUT_FILENAME
)

In [11]:
ls -lah | grep parquet | grep tidy

-rw-rw-r--.  1 elilouis elilouis  267M Feb  9 00:13 tidy_df_20221130_20230509_noplanar_fit_clean.parquet
-rw-rw-r--.  1 elilouis elilouis  230M Feb  8 23:37 tidy_df_20221130_20230509_noplanar_fit.parquet
-rw-rw-r--.  1 elilouis elilouis   31M Feb  9 14:03 tidy_df_30min_20221130_20230509_noplanar_fit_clean.parquet
-rw-rw-r--.  1 elilouis elilouis  1.3M Aug 16 14:10 tidy_df_daily_20221130_20230509_noplanar_fit.parquet
-rw-rw-r--.  1 elilouis elilouis  1.6M Oct 30 15:01 tidy_df_daily_20221130_20230517_noplanar_fit.parquet