In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import altair as alt
alt.data_transformers.enable('json')

from sublimpy import utils
import pytz

# Open datasets

## SOS Measurement Dataset

In [2]:
start_date = '20221130'
end_date = '20230509'
# open files
tidy_df = pd.read_parquet(f'tidy_df_{start_date}_{end_date}_noplanar_fit_clean.parquet')
# convert time column to datetime
tidy_df['time'] = pd.to_datetime(tidy_df['time'])
# limit data to our dates of interest, based on continuous snow cover at Kettle Ponds
tidy_df = tidy_df.set_index('time').sort_index().loc[start_date:end_date].reset_index()

## Turbpy Model Ensemble Dataset

In [3]:
model_df = pd.read_parquet("model_results.parquet")
# add a bunch of columns that are descriptive, from the config column which has multiple bits of info
model_df['z0'] = model_df['config'].apply(
    lambda v: v.split(' ')[-1]
)
model_df['e_sat_curve'] = model_df['config'].apply(
    lambda v: 'metpy' if 'metpy' in v else 'alduchov'
)
model_df['surface_measurement'] = model_df['config'].apply(
    lambda v: v.split(' ')[-3]
)
model_df['scheme'] = model_df['config'].apply(
    lambda v: 'andreas' if 'andreas lengths' in v else 'yang'
)
model_df['most_config'] = model_df['config'].apply(lambda s: ' '.join(s.split(' ')[:-3]))
# remove the scalar roughness length parameterization info 
model_df['most_config'] = model_df['most_config'].str.replace(' andreas lengths', '')

model_df.head()

,config,time,sensible heat conductance,latent heat conductance,sensible heat flux,latent heat flux,stabilityCorrectionParameters,param_dict,z0,e_sat_curve,surface_measurement,scheme,most_config
0,Standard Tsurf_c e_sat_alduchov z0_andreas,2022-11-30,0.007876,7.875544e-03,-3.501763,-14.535007,"{'L': None, 'conductanceNeutral': 0.0023045755...","{'available_capping': ['no_capping', 'louis_Ri...",z0_andreas,alduchov,Tsurf_c,yang,Standard
1,MO Beljaars Holtslag andreas lengths Tsurf_d e...,2022-11-30,0.000968,2.834700e+06,18.697491,1.776961,"{'L': 4.942739184482242, 'conductanceNeutral':...","{'available_capping': ['no_capping', 'louis_Ri...",0.0001,alduchov,Tsurf_d,andreas,MO Beljaars Holtslag
2,MO Beljaars Holtslag andreas lengths Tsurf_rad...,2022-11-30,0.001104,2.834700e+06,15.329465,0.036198,"{'L': 7.380611525873046, 'conductanceNeutral':...","{'available_capping': ['no_capping', 'louis_Ri...",0.0001,alduchov,Tsurf_rad_d,andreas,MO Beljaars Holtslag
3,MO Cheng Brutsaert andreas lengths Tsurf_c e_s...,2022-11-30,0.001594,2.834700e+06,-2.357991,-9.986380,"{'L': -70.32408727166649, 'conductanceNeutral'...","{'available_capping': ['no_capping', 'louis_Ri...",0.0001,alduchov,Tsurf_c,andreas,MO Cheng Brutsaert
4,MO Cheng Brutsaert andreas lengths Tsurf_d e_s...,2022-11-30,0.000861,2.834700e+06,16.627654,1.578410,"{'L': 5.003304638752211, 'conductanceNeutral':...","{'available_capping': ['no_capping', 'louis_Ri...",0.0001,alduchov,Tsurf_d,andreas,MO Cheng Brutsaert

## COARE model results

In [4]:
coare_model_results = pd.read_parquet("coare_model_results.parquet").reset_index()
coare_model_results['z0'] = coare_model_results.config.str.split(' ').apply(lambda x: x[-2])
coare_model_results['meas_height'] = coare_model_results.config.str.split(' ').apply(lambda x: x[-1])
coare_model_results['surface_measurement'] = coare_model_results.config.str.split(' ').apply(lambda x: x[0])
coare_model_results['e_sat_curve'] = coare_model_results.config.str.split(' ').apply(lambda x: x[1])
coare_model_results.head(3)

,time,config,hsb,hlb,tau,zo,zot,zoq,L,usr,...,Chn_10,Cen_10,rr,rt,rq,hlb_gperm2s,z0,meas_height,surface_measurement,e_sat_curve
0,2022-11-30 00:00:00,Tsurf_c e_sat_alduchov z0_andreas 3m,1.954076,9.321132,0.025086,0.000704,0.000110,0.000136,-111.500881,0.163181,...,0.001466,0.001493,9.450728,1.448934,1.793207,0.003284,z0_andreas,3m,Tsurf_c,e_sat_alduchov
1,2022-11-30 00:30:00,Tsurf_c e_sat_alduchov z0_andreas 3m,0.588085,17.007416,0.041814,0.000460,0.000091,0.000111,-382.420894,0.209803,...,0.001380,0.001404,7.945258,1.541077,1.885540,0.005993,z0_andreas,3m,Tsurf_c,e_sat_alduchov
2,2022-11-30 01:00:00,Tsurf_c e_sat_alduchov z0_andreas 3m,-1.379171,12.636117,0.026424,0.000379,0.000125,0.000149,431.616883,0.166379,...,0.001392,0.001414,5.200900,1.710404,2.036583,0.004452,z0_andreas,3m,Tsurf_c,e_sat_alduchov

In [5]:
coare_model_results = coare_model_results[
    coare_model_results.surface_measurement.isin([
        'Tsurf_c', 'Tsurf_d', 'Tsurf_rad_d',
    ])
]

## Convert timezones for all datasets

In [6]:
tidy_df = utils.modify_df_timezone(tidy_df, pytz.UTC, "US/Mountain")
model_df = utils.modify_df_timezone(model_df, pytz.UTC, "US/Mountain")
coare_model_results = utils.modify_df_timezone(coare_model_results, pytz.UTC, "US/Mountain")

In [7]:
from metpy.constants import density_water
seconds_in_timestep = 60*30

# Create a common dataset of model runs so that we compare across similar timestamps
(some datasets may have nans where others do not)

## Grab COARE and BA model runs we want to look at

In [8]:
coare_configs_we_want = [
    'Tsurf_c e_sat_alduchov 1e-05 3m',              'Tsurf_d e_sat_alduchov 1e-05 3m',              'Tsurf_rad_d e_sat_alduchov 1e-05 3m',
    'Tsurf_c e_sat_alduchov 5e-05 3m',              'Tsurf_d e_sat_alduchov 5e-05 3m',              'Tsurf_rad_d e_sat_alduchov 5e-05 3m',
    'Tsurf_c e_sat_alduchov 0.0001 3m',             'Tsurf_d e_sat_alduchov 0.0001 3m',             'Tsurf_rad_d e_sat_alduchov 0.0001 3m',
    'Tsurf_c e_sat_alduchov 0.0005 3m',             'Tsurf_d e_sat_alduchov 0.0005 3m',             'Tsurf_rad_d e_sat_alduchov 0.0005 3m',
    'Tsurf_c e_sat_alduchov 0.001 3m',              'Tsurf_d e_sat_alduchov 0.001 3m',              'Tsurf_rad_d e_sat_alduchov 0.001 3m',
    'Tsurf_c e_sat_alduchov 0.005 3m',              'Tsurf_d e_sat_alduchov 0.005 3m',              'Tsurf_rad_d e_sat_alduchov 0.005 3m',
    'Tsurf_c e_sat_alduchov z0_andreas 3m',         'Tsurf_d e_sat_alduchov z0_andreas 3m',         'Tsurf_rad_d e_sat_alduchov z0_andreas 3m',
    'Tsurf_c e_sat_alduchov z0_andreas_weekly 3m',  'Tsurf_d e_sat_alduchov z0_andreas_weekly 3m',  'Tsurf_rad_d e_sat_alduchov z0_andreas_weekly 3m',
]

In [9]:
coare_sum_model_results = coare_model_results[coare_model_results.config.isin(coare_configs_we_want)][['time', 'config', 'hlb_gperm2s']].pivot(
    index = 'time',
    columns = 'config',
    values = 'hlb_gperm2s'
).dropna()

In [10]:

# get rid of the string part that says 3m
coare_sum_model_results.columns = [ c[:-3] for c in coare_sum_model_results.columns]
coare_sum_model_results = coare_sum_model_results*seconds_in_timestep/density_water.magnitude
coare_sum_model_results.columns = [ f"COARE ({s})" for s in coare_sum_model_results.columns ]

In [11]:
ba_configs_we_want = [
    'Standard Tsurf_c e_sat_alduchov 1e-05',                'Standard Tsurf_d e_sat_alduchov 1e-05',                'Standard Tsurf_rad_d e_sat_alduchov 1e-05',
    'Standard Tsurf_c e_sat_alduchov 5e-05',                'Standard Tsurf_d e_sat_alduchov 5e-05',                'Standard Tsurf_rad_d e_sat_alduchov 5e-05',
    'Standard Tsurf_c e_sat_alduchov 0.0001',               'Standard Tsurf_d e_sat_alduchov 0.0001',               'Standard Tsurf_rad_d e_sat_alduchov 0.0001',
    'Standard Tsurf_c e_sat_alduchov 0.0005',               'Standard Tsurf_d e_sat_alduchov 0.0005',               'Standard Tsurf_rad_d e_sat_alduchov 0.0005',
    'Standard Tsurf_c e_sat_alduchov 0.001',                'Standard Tsurf_d e_sat_alduchov 0.001',                'Standard Tsurf_rad_d e_sat_alduchov 0.001',
    'Standard Tsurf_c e_sat_alduchov 0.005',                'Standard Tsurf_d e_sat_alduchov 0.005',                'Standard Tsurf_rad_d e_sat_alduchov 0.005',
    'Standard Tsurf_c e_sat_alduchov z0_andreas',           'Standard Tsurf_d e_sat_alduchov z0_andreas',           'Standard Tsurf_rad_d e_sat_alduchov z0_andreas',
    'Standard Tsurf_c e_sat_alduchov z0_andreas_weekly',    'Standard Tsurf_d e_sat_alduchov z0_andreas_weekly',    'Standard Tsurf_rad_d e_sat_alduchov z0_andreas_weekly',
]

In [12]:
ba_sum_model_results = model_df[model_df.config.isin(ba_configs_we_want)][['time', 'config', 'latent heat flux']]
ba_sum_model_results['latent heat flux'] = - ba_sum_model_results['latent heat flux']*seconds_in_timestep/density_water.magnitude/2838
ba_sum_model_results = ba_sum_model_results.pivot(
    index = 'time',
    columns = 'config',
    values = 'latent heat flux'
)
ba_sum_model_results.columns = [ f"BA ({s})" for s in ba_sum_model_results.columns ]

## Grab measured data we want

In [13]:
measured_results = tidy_df[tidy_df.variable.isin([
    'w_h2o__2m_c',
    'w_h2o__3m_c',
    'w_h2o__5m_c',
    'w_h2o__10m_c',
    'w_h2o__15m_c',
    'w_h2o__20m_c',

    'w_h2o__3m_ue',
    'w_h2o__10m_ue',

    'w_h2o__3m_uw',
    'w_h2o__10m_uw',

    'w_h2o__3m_d',
    'w_h2o__10m_d',
])][
    ['time', 'value', 'variable']
]
measured_results.columns = ['time', 'measured', 'variable']
measured_results = measured_results.pivot(
    index = 'time',
    columns = 'variable',
    values = 'measured'
)
measured_results

variable,w_h2o__10m_c,w_h2o__10m_d,w_h2o__10m_ue,w_h2o__10m_uw,w_h2o__15m_c,w_h2o__20m_c,w_h2o__2m_c,w_h2o__3m_c,w_h2o__3m_d,w_h2o__3m_ue,w_h2o__3m_uw,w_h2o__5m_c
time,,,,,,,,,,,,
2022-11-29 17:00:00,0.010222,0.004838,0.005000,0.005185,0.006543,0.008915,0.001048,0.001886,0.000021,0.001953,-0.001564,0.003238
2022-11-29 17:30:00,0.002696,0.001688,0.000841,0.000025,0.000992,0.002328,-0.000204,0.000472,0.000443,0.001064,0.000375,0.001106
2022-11-29 18:00:00,0.000290,0.000816,0.001032,0.000011,0.000589,0.000469,-0.000630,-0.000584,-0.000096,-0.000492,-0.000422,-0.000531
2022-11-29 18:30:00,-0.002327,-0.001368,-0.001484,-0.002586,-0.001026,-0.001628,-0.001893,-0.001696,-0.001613,-0.001985,-0.001390,-0.001463
2022-11-29 19:00:00,-0.001898,-0.002339,-0.001968,-0.000251,-0.002219,-0.002594,-0.000490,-0.000566,-0.000725,-0.000980,-0.000500,-0.000536
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-09 15:30:00,0.011244,0.015525,0.010494,0.018161,NaN,NaN,0.009775,0.012305,0.022204,0.015058,0.017947,0.012981
2023-05-09 16:00:00,0.016920,0.008555,0.009996,0.012741,NaN,NaN,0.016499,0.017012,0.021434,0.017630,0.017168,0.018591
2023-05-09 16:30:00,0.006030,0.006757,0.002300,0.008597,NaN,NaN,0.007582,0.009711,0.010974,0.011369,0.008855,0.009151
2023-05-09 17:00:00,0.012693,0.010651,0.011531,0.012597,NaN,NaN,0.010639,0.010541,0.022857,0.014931,0.014369,0.010114
2023-05-09 17:30:00,0.006808,0.006437,0.005893,0.005834,NaN,NaN,0.007074,0.003844,0.009746,0.006646,0.005791,0.002175

### Fill in data gaps from the nearest sonic

In [14]:
print(len(measured_results['w_h2o__2m_c'].dropna()))
measured_results.loc[np.isnan(measured_results['w_h2o__2m_c']), 'w_h2o__2m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__2m_c']), 'w_h2o__3m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__2m_c']), 'w_h2o__2m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__2m_c']), 'w_h2o__5m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__2m_c']), 'w_h2o__2m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__2m_c']), 'w_h2o__10m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__2m_c']), 'w_h2o__2m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__2m_c']), 'w_h2o__15m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__2m_c']), 'w_h2o__2m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__2m_c']), 'w_h2o__20m_c']
print(len(measured_results['w_h2o__2m_c'].dropna()))

print(len(measured_results['w_h2o__3m_c'].dropna()))
measured_results.loc[np.isnan(measured_results['w_h2o__3m_c']), 'w_h2o__3m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__3m_c']), 'w_h2o__2m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__3m_c']), 'w_h2o__3m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__3m_c']), 'w_h2o__5m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__3m_c']), 'w_h2o__3m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__3m_c']), 'w_h2o__10m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__3m_c']), 'w_h2o__3m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__3m_c']), 'w_h2o__15m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__3m_c']), 'w_h2o__3m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__3m_c']), 'w_h2o__20m_c']
print(len(measured_results['w_h2o__3m_c'].dropna()))

print(len(measured_results['w_h2o__5m_c'].dropna()))
measured_results.loc[np.isnan(measured_results['w_h2o__5m_c']), 'w_h2o__5m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__5m_c']), 'w_h2o__10m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__5m_c']), 'w_h2o__5m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__5m_c']), 'w_h2o__3m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__5m_c']), 'w_h2o__5m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__5m_c']), 'w_h2o__2m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__5m_c']), 'w_h2o__5m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__5m_c']), 'w_h2o__15m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__5m_c']), 'w_h2o__5m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__5m_c']), 'w_h2o__20m_c']
print(len(measured_results['w_h2o__5m_c'].dropna()))

print(len(measured_results['w_h2o__10m_c'].dropna()))
measured_results.loc[np.isnan(measured_results['w_h2o__10m_c']), 'w_h2o__10m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__10m_c']), 'w_h2o__15m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__10m_c']), 'w_h2o__10m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__10m_c']), 'w_h2o__5m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__10m_c']), 'w_h2o__10m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__10m_c']), 'w_h2o__3m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__10m_c']), 'w_h2o__10m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__10m_c']), 'w_h2o__2m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__10m_c']), 'w_h2o__10m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__10m_c']), 'w_h2o__20m_c']
print(len(measured_results['w_h2o__10m_c'].dropna()))

print(len(measured_results['w_h2o__15m_c'].dropna()))
measured_results.loc[np.isnan(measured_results['w_h2o__15m_c']), 'w_h2o__15m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__15m_c']), 'w_h2o__20m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__15m_c']), 'w_h2o__15m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__15m_c']), 'w_h2o__10m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__15m_c']), 'w_h2o__15m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__15m_c']), 'w_h2o__5m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__15m_c']), 'w_h2o__15m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__15m_c']), 'w_h2o__3m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__15m_c']), 'w_h2o__15m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__15m_c']), 'w_h2o__2m_c']
print(len(measured_results['w_h2o__15m_c'].dropna()))

print(len(measured_results['w_h2o__20m_c'].dropna()))
measured_results.loc[np.isnan(measured_results['w_h2o__20m_c']), 'w_h2o__20m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__20m_c']), 'w_h2o__15m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__20m_c']), 'w_h2o__20m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__20m_c']), 'w_h2o__10m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__20m_c']), 'w_h2o__20m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__20m_c']), 'w_h2o__5m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__20m_c']), 'w_h2o__20m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__20m_c']), 'w_h2o__3m_c']
measured_results.loc[np.isnan(measured_results['w_h2o__20m_c']), 'w_h2o__20m_c'] = measured_results.loc[np.isnan(measured_results['w_h2o__20m_c']), 'w_h2o__2m_c']
print(len(measured_results['w_h2o__20m_c'].dropna()))

7728
7728
7049
7728
7374
7728
7234
7728
7264
7728
6438
7728

### Convert to mm

In [15]:
measured_results = measured_results*seconds_in_timestep/density_water.magnitude

Note how many timestamps are missing

In [16]:
print(len(ba_sum_model_results.dropna()))
print(len(coare_sum_model_results.dropna()))
print(len(measured_results.dropna()))

6354
6354
6169

## Safely combine datasets

### First create joined dataset of 30min data

In [17]:
# join results
joined_results_df = measured_results.join(
    ba_sum_model_results
).join(
    coare_sum_model_results
)
# Remove timestamps from all datasets that is NaN in any of the datasets
print(len(joined_results_df), len(joined_results_df.dropna()))
joined_sums_df = joined_results_df.dropna().sum()

7728 5636

### Second create joined dataset of seasonal sums

In [18]:



joined_sums_df = pd.DataFrame(
    joined_sums_df
).reset_index().rename(columns = {0:'mm', 'index':'variable'})

joined_sums_df.variable = joined_sums_df.variable.apply(
    lambda s: s.replace(
        "(z0_andreas)", "(z₀(t))"
    ).replace(
        "(z0_andreas_weekly)", "(z₀ᵂ(t))",
    )
)
joined_sums_df

                                             variable          mm
0                                        w_h2o__10m_c   33.101899
1                                        w_h2o__10m_d   29.760658
2                                       w_h2o__10m_ue   27.983085
3                                       w_h2o__10m_uw   31.797482
4                                        w_h2o__15m_c   25.884065
5                                        w_h2o__20m_c   27.222387
6                                         w_h2o__2m_c   28.418268
7                                         w_h2o__3m_c   30.965965
8                                         w_h2o__3m_d   31.881266
9                                        w_h2o__3m_ue   30.926094
10                                       w_h2o__3m_uw   31.481516
11                                        w_h2o__5m_c   32.348729
12        BA (Standard Tsurf_c e_sat_alduchov 0.0001)   45.512335
13        BA (Standard Tsurf_c e_sat_alduchov 0.0005)   64.702680
14         BA (Standard Tsurf_c e_sat_alduchov 0.001)   76.919688
15         BA (Standard Tsurf_c e_sat_alduchov 0.005)  123.184959
16         BA (Standard Tsurf_c e_sat_alduchov 1e-05)   30.046831
17         BA (Standard Tsurf_c e_sat_alduchov 5e-05)   39.792196
18    BA (Standard Tsurf_c e_sat_alduchov z0_andreas)   45.577319
19  BA (Standard Tsurf_c e_sat_alduchov z0_andreas...   40.201180
20        BA (Standard Tsurf_d e_sat_alduchov 0.0001)   42.978985
21        BA (Standard Tsurf_d e_sat_alduchov 0.0005)   61.123178
22         BA (Standard Tsurf_d e_sat_alduchov 0.001)   72.678946
23         BA (Standard Tsurf_d e_sat_alduchov 0.005)  116.468327
24         BA (Standard Tsurf_d e_sat_alduchov 1e-05)   28.364330
25         BA (Standard Tsurf_d e_sat_alduchov 5e-05)   37.572659
26    BA (Standard Tsurf_d e_sat_alduchov z0_andreas)   41.848064
27  BA (Standard Tsurf_d e_sat_alduchov z0_andreas...   37.256872
28    BA (Standard Tsurf_rad_d e_sat_alduchov 0.0001)   64.339432
29    BA (Standard Tsurf_rad_d e_sat_alduchov 0.0005)   91.470638
30     BA (Standard Tsurf_rad_d e_sat_alduchov 0.001)  108.743397
31     BA (Standard Tsurf_rad_d e_sat_alduchov 0.005)  174.156673
32     BA (Standard Tsurf_rad_d e_sat_alduchov 1e-05)   42.475143
33     BA (Standard Tsurf_rad_d e_sat_alduchov 5e-05)   56.252518
34  BA (Standard Tsurf_rad_d e_sat_alduchov z0_and...   61.225573
35  BA (Standard Tsurf_rad_d e_sat_alduchov z0_and...   55.537474
36              COARE (Tsurf_c e_sat_alduchov 0.0001)   34.273278
37              COARE (Tsurf_c e_sat_alduchov 0.0005)   41.460920
38               COARE (Tsurf_c e_sat_alduchov 0.001)   43.912062
39               COARE (Tsurf_c e_sat_alduchov 0.005)   48.145707
40               COARE (Tsurf_c e_sat_alduchov 1e-05)   25.074328
41               COARE (Tsurf_c e_sat_alduchov 5e-05)   31.251478
42          COARE (Tsurf_c e_sat_alduchov z0_andreas)   29.226982
43   COARE (Tsurf_c e_sat_alduchov z0_andreas_weekly)   31.053663
44              COARE (Tsurf_d e_sat_alduchov 0.0001)   32.292393
45              COARE (Tsurf_d e_sat_alduchov 0.0005)   39.168583
46               COARE (Tsurf_d e_sat_alduchov 0.001)   41.526820
47               COARE (Tsurf_d e_sat_alduchov 0.005)   45.598166
48               COARE (Tsurf_d e_sat_alduchov 1e-05)   23.568863
49               COARE (Tsurf_d e_sat_alduchov 5e-05)   29.431747
50          COARE (Tsurf_d e_sat_alduchov z0_andreas)   27.035569
51   COARE (Tsurf_d e_sat_alduchov z0_andreas_weekly)   28.877702
52          COARE (Tsurf_rad_d e_sat_alduchov 0.0001)   49.139387
53          COARE (Tsurf_rad_d e_sat_alduchov 0.0005)   59.472267
54           COARE (Tsurf_rad_d e_sat_alduchov 0.001)   62.940757
55           COARE (Tsurf_rad_d e_sat_alduchov 0.005)   68.798684
56           COARE (Tsurf_rad_d e_sat_alduchov 1e-05)   35.892930
57           COARE (Tsurf_rad_d e_sat_alduchov 5e-05)   44.834645
58      COARE (Tsurf_rad_d e_sat_alduchov z0_andreas)   40.424304
59  COARE (Tsurf_rad_d e_sat_alduchov z0_andreas_w...   43.869126

# Plot Measured cumulative sums

In [27]:
meas_df = joined_results_df[[
    'w_h2o__10m_c', 'w_h2o__15m_c', 'w_h2o__20m_c', 'w_h2o__2m_c',
       'w_h2o__3m_c', 'w_h2o__5m_c',

        'w_h2o__3m_ue',
        'w_h2o__10m_ue',

        'w_h2o__3m_uw',
        'w_h2o__10m_uw',

        'w_h2o__3m_d',
        'w_h2o__10m_d',
       ]]
meas_df = meas_df.cumsum().reset_index()
meas_df = meas_df.melt(id_vars='time')
meas_df['height'] = meas_df['variable'].apply(lambda s: int(s.split('__')[1].split('m')[0]))
meas_df['tower'] = meas_df['variable'].apply(lambda s: s.split('__')[1].split('_')[-1])
meas_df['tower-height'] = meas_df['tower'] + '-' + meas_df['height'].astype('str')
meas_df

                     time      variable      value  height tower tower-height
0     2022-11-29 17:00:00  w_h2o__10m_c   0.018399      10     c         c-10
1     2022-11-29 17:30:00  w_h2o__10m_c   0.023251      10     c         c-10
2     2022-11-29 18:00:00  w_h2o__10m_c   0.023773      10     c         c-10
3     2022-11-29 18:30:00  w_h2o__10m_c   0.019585      10     c         c-10
4     2022-11-29 19:00:00  w_h2o__10m_c   0.016168      10     c         c-10
...                   ...           ...        ...     ...   ...          ...
92731 2023-05-09 15:30:00  w_h2o__10m_d  33.921019      10     d         d-10
92732 2023-05-09 16:00:00  w_h2o__10m_d  33.936418      10     d         d-10
92733 2023-05-09 16:30:00  w_h2o__10m_d  33.948581      10     d         d-10
92734 2023-05-09 17:00:00  w_h2o__10m_d  33.967753      10     d         d-10
92735 2023-05-09 17:30:00  w_h2o__10m_d  33.979340      10     d         d-10

[92736 rows x 6 columns]

In [41]:
snowpillow_chart = alt.Chart(
    tidy_df.query("variable == 'SWE_p2_c'").dropna()
).transform_window(
    frame = [-48, 48],
    rolling_median = 'median(value)'
).mark_line().encode(
    alt.X("time:T").axis(labels=False).title(None),
    alt.Y("rolling_median:Q").title(["Snow water", "equivalent (mm)"])
).properties(height = 83)
snowpillow_chart

alt.Chart(...)

In [47]:
(
snowpillow_chart &\
alt.Chart(meas_df.dropna()).transform_filter(
    alt.datum.height > 2
).mark_line(strokeWidth=1.5).transform_window(
    rolling_median = "median(value)",
    groupby = ["height", "tower-height"],
    frame=[-2,2]
).encode(
    alt.X("time:T"),
    alt.Y("rolling_median:Q"),
    alt.Color("height:O").scale(scheme = 'turbo'),
    detail = "tower-height"
)
).resolve_scale(
    x='shared', y='independent', color='independent'
)

alt.VConcatChart(...)

In [35]:
meas_df.groupby("tower-height")['value'].max()

tower-height
c-10     40.141728
c-15     32.036089
c-2      32.280616
c-20     33.726346
c-3      35.724604
c-5      38.263219
d-10     33.979340
d-3      34.951209
ue-10    30.123837
ue-3     34.444626
uw-10    36.034317
uw-3     34.112377
Name: value, dtype: float64

# Plot Modeled Seasonal Totals, TurbPy and COARE, constant and variable z0 values

In [ ]:
horiz_rules_base = alt.Chart(
    joined_sums_df[joined_sums_df.variable.str.contains('w_h2o_')]
).mark_rule(strokeDash=[2,2])

horiz_rules_chart = horiz_rules_base.encode(
    alt.Y("min(mm):Q")
) + horiz_rules_base.encode(
    alt.Y("max(mm):Q")
) + alt.Chart(
    joined_sums_df[joined_sums_df.variable == 'w_h2o__3m_c']
).mark_rule(strokeDash=[2,2]).encode(
    alt.Y("mm:Q")
)

In [ ]:
modeled_sums_df = joined_sums_df[~joined_sums_df.variable.str.contains('w_h2o_')]
modeled_sums_df['method'] = modeled_sums_df.variable.apply(lambda s: s.split(' ')[0])
modeled_sums_df['z0'] = modeled_sums_df.variable.apply(lambda s: s.split(' ')[-1][:-1])
modeled_sums_df['Ts'] = modeled_sums_df.variable.apply(lambda s: s.split('Tsurf_')[1].split(' ')[0])
modeled_sums_df

In [ ]:
z0_sort = ['1e-05', '5e-05', '0.0001', '0.0005', '0.001', '0.005', 
"z₀(t)", "z₀ᵂ(t)"]

(
    alt.Chart(modeled_sums_df).mark_point(size=50).encode(
        alt.X("z0:O").sort(z0_sort).axis(labelAngle=-45),
        alt.Y("mm:Q").scale(zero=False),
        alt.Shape("method:N").scale(domain=['BA', 'COARE'], range=['stroke', "circle"]),
        alt.Color("Ts:N"),
    )
).properties(width = 300, height = 300, title='COARE Algorithm (ticks) and Bulk Aerodynamic (dots)') + horiz_rules_chart

# Surface temperature analysis

In [ ]:
tsurfs = tidy_df[tidy_df.variable.isin([
    'Tsurf_c',
    'Tsurf_d',
    'Tsurf_rad_d',
])].pivot(
    index = 'time',
    columns = 'variable',
    values = 'value'
).dropna()
tsurfs = tsurfs[
    (tsurfs.Tsurf_c<50) & (tsurfs.Tsurf_c>-50) &
    (tsurfs.Tsurf_d<50) & (tsurfs.Tsurf_d>-50) &
    (tsurfs.Tsurf_rad_d<50) & (tsurfs.Tsurf_rad_d>-50)
]
from sklearn.metrics import r2_score

In [ ]:
alt.Chart(tsurfs).mark_circle(size=10, opacity=0.25).encode(
    alt.X("Tsurf_c"),
    alt.Y("Tsurf_d")
) | alt.Chart(tsurfs).mark_circle(size=10, opacity=0.25).encode(
    alt.X("Tsurf_c"),
    alt.Y("Tsurf_rad_d")
) | alt.Chart(tsurfs).mark_circle(size=10, opacity=0.25).encode(
    alt.X("Tsurf_d"),
    alt.Y("Tsurf_rad_d")
)

In [ ]:
r2_score(tsurfs['Tsurf_c'], tsurfs['Tsurf_d']), np.mean(np.abs(tsurfs['Tsurf_c'] - tsurfs['Tsurf_d'])), np.median(np.abs(tsurfs['Tsurf_c'] - tsurfs['Tsurf_d']))

In [ ]:
r2_score(tsurfs['Tsurf_rad_d'], tsurfs['Tsurf_d']), np.mean(np.abs(tsurfs['Tsurf_rad_d'] - tsurfs['Tsurf_d'])), np.median(np.abs(tsurfs['Tsurf_rad_d'] - tsurfs['Tsurf_d']))

In [ ]:
r2_score(tsurfs['Tsurf_rad_d'], tsurfs['Tsurf_c']), np.mean(np.abs(tsurfs['Tsurf_rad_d'] - tsurfs['Tsurf_c'])), np.median(np.abs(tsurfs['Tsurf_rad_d'] - tsurfs['Tsurf_c']))

In [ ]:
time_no_day = tsurfs.reset_index().time.apply(lambda dt:dt.replace(year=2000, month=1, day=1))
tsurfs['time_no_day'] = pd.to_datetime(time_no_day)

In [ ]:
tsurfs['Tsurf_d - Tsurf_rad_d'] = tsurfs.Tsurf_d - tsurfs.Tsurf_rad_d
tsurfs['Tsurf_d - Tsurf_c'] = tsurfs.Tsurf_d - tsurfs.Tsurf_c

In [ ]:
temp_difference_diurnal_chart = alt.Chart(
    tsurfs.reset_index()
).transform_fold(
    ['Tsurf_d - Tsurf_rad_d',
    'Tsurf_d - Tsurf_c' ]
).mark_errorbar().encode(
    alt.X("hoursminutes(time):T"),
    alt.Y("value:Q").title("T difference"),
    alt.Row("key:N").title("")
).properties(width=250, height=100)
temp_difference_diurnal_chart.save("temp_difference_diurnal_chart.png", ppi=200)
temp_difference_diurnal_chart

## Combined Table

Create a combined table

In [ ]:
df = round(src[['z0', 'surface_measurement', 'most_config', 'latent heat flux (mm)']].pivot(
    index=['z0', 'surface_measurement'],
    columns='most_config',
    values='latent heat flux (mm)'
), 1)
df = df.apply(
    lambda row: f"{row.min()} - {row.max()}",
    axis=1
)
sntherm_estimates_table = pd.DataFrame(df).rename(columns={0:'SNTHERM'})
sntherm_estimates_table

In [ ]:
bulk_estimates_table = src_standard[['z0', 'surface_measurement', 'latent heat flux (mm)']].set_index(['z0', 'surface_measurement']).rename(
    columns={'latent heat flux (mm)': 'Bulk'}
)
bulk_estimates_table

In [ ]:
coare_estimates_table = coare_seasonal_model_results[['z0', 'surface_measurement', 'hlb_mm']].set_index(['z0', 'surface_measurement']).rename(
    columns={'hlb_mm': 'COARE'}
)
coare_estimates_table

In [ ]:
combined_estimates_table = round(
    sntherm_estimates_table.join(coare_estimates_table).join(bulk_estimates_table).reset_index(),
    1
)
combined_estimates_table

# Combine our 3 sources of information (measured data, turbpy models, COARE models) and compare with Stossel box data

In [ ]:
# COARE
coare_model_results
# TURBPY
model_results_for_stossel_comparison = model_df.query("e_sat_curve == 'alduchov'").query("scheme == 'andreas'").query("surface_measurement == 'Tsurf_c'").query("most_config == 'MO Holtslag de Bruin'")
model_results_for_stossel_comparison = model_results_for_stossel_comparison[['time', 'latent heat flux', 'z0']]
model_results_for_stossel_comparison = model_results_for_stossel_comparison.set_index('time').tz_localize(None).reset_index()

# MEASUREMENTS
measurements_for_stossel_comparison = tidy_df.query("variable == 'w_h2o__3m_c'").set_index('time')[['value']].rename(columns={'value': 'measured'})

In [ ]:
lysimeter_data = pd.read_csv("../sos/processed_lysimeter_data.csv")
lysimeter_data['time'] = pd.to_datetime(lysimeter_data['time'])
lysimeter_data['time_previous'] = pd.to_datetime(lysimeter_data['time_previous'])
lysimeter_data.head()

In [ ]:
combined_results_df = pd.DataFrame()
for i, row in lysimeter_data.iterrows():
    tprev = row['time_previous']
    t = row['time'] 
    
    # collect coare data
    this_coare_data = coare_model_results.set_index('time').sort_index().loc[tprev: t].pivot_table(
        index='time',
        values=['hlb_gperm2s'],
        columns='z0'
    )
    this_coare_data.columns = ['coare (z0=' + col + ')' for col in this_coare_data.columns.get_level_values(1)]
    this_coare_data = this_coare_data.sum()
    
    # collect turbpy data
    this_turbpy_data = model_results_for_stossel_comparison.set_index('time').sort_index().loc[tprev: t].pivot_table(
            index='time',
            values=['latent heat flux'],
            columns='z0'
    )
    this_turbpy_data.columns = ['turbpy (z0=' + col + ')' for col in this_turbpy_data.columns.get_level_values(1)]
    this_turbpy_data = this_turbpy_data.sum()

    # measured data
    this_ec_data = measurements_for_stossel_comparison.loc[tprev: t].sum()

    this_measurement_df = pd.DataFrame(pd.concat([
        this_coare_data,
        this_turbpy_data,
        this_ec_data.rename({'measured': 'EC measured'}),
        # make this negative to match the other stuff
        - row[['delta_box_mean_mm']].rename({'delta_box_mean_mm': 'Lysimeter measured'})
    ])).reset_index().rename(columns={
        0: 'lh flux (mm)',
        'index': 'measurement'
    })
    this_measurement_df['time'] = row['time']
    this_measurement_df['time_previous'] = row['time_previous']
    this_measurement_df['daytime'] = row['daytime']
    combined_results_df = pd.concat([combined_results_df, this_measurement_df])

Make the "lost mass" measurements from the stossel box positive

In [ ]:
combined_results_df['type'] = combined_results_df['measurement'].apply(lambda s: s.split(' ')[0])
combined_results_df

In [ ]:
combined_results_df

In [ ]:
(alt.Chart(combined_results_df.query("daytime == True")).mark_tick().encode(
    alt.X("type:N"),
    alt.Y("lh flux (mm)"),
    alt.Column('time:T'),
).properties(height = 100) & alt.Chart(combined_results_df.query("daytime == False")).mark_tick().encode(
    alt.X("type:N"),
    alt.Y("lh flux (mm)"),
    alt.Column('time:T'),
).properties(height = 100)).display(renderer='svg')

## plot wind speeds, lh flux profiles, theta_v profiles, to see if on Feb 7, 11, 12, advection is likely, while on Feb 4, 10, 17 it seems less likely

In [ ]:
case_studies_advective = pd.concat([
    tidy_df.set_index('time').loc['20230207': '20230207'],
])
case_studies_advective['day'] = case_studies_advective.index.day

case_studies_normal = pd.concat([
    tidy_df.set_index('time').loc['20230204': '20230204'],
    tidy_df.set_index('time').loc['20230210': '20230210'],
    tidy_df.set_index('time').loc['20230217': '20230217']
])

case_studies_normal['day'] = case_studies_normal.index.day

In [ ]:
winddir_chart = alt.Chart(
    case_studies_advective.query("measurement == 'wind direction'").reset_index()
).transform_filter(
    alt.datum.tower == 'c'
).transform_filter(
    alt.FieldOneOfPredicate('height', [3,10,20])
).mark_circle().encode(
    alt.X("time:T"),
    alt.Y("value:Q"),
    alt.Color("height:O"),
    alt.Column("day:O")
).properties(width=200, height = 200).resolve_scale(x='independent')

bsflux_chart = alt.Chart(
    case_studies_advective.query("measurement == 'snow flux'").reset_index().query("value > 0")
).mark_circle().encode(
    alt.X("time:T"),
    alt.Y("value:Q").scale(type='log'),
    alt.Color("height:O"),
    alt.Column("day:O")
).properties(width=200, height = 50).resolve_scale(x='independent')

profiles_src = case_studies_advective.query("measurement == 'w_h2o_'").query("tower == 'c'").reset_index()
profiles_src = profiles_src.set_index("time").groupby([
    pd.Grouper(freq='240Min'), 'height', 'day'
]).mean(numeric_only=True).reset_index()
profiles_src['hour'] = profiles_src.time.dt.hour

lhflux_profiles_chart = alt.Chart(
    profiles_src    
).mark_line().encode(
    alt.X("mean(value):Q").sort('-y'),
    alt.Y("height:Q"),
    alt.Color("hour:O").scale(scheme='rainbow'),
    alt.Column("day:O")
).resolve_scale(color='shared').properties(width=200, height = 200)

profiles_src = case_studies_advective.query("measurement == 'potential virtual temperature'").query("tower == 'c'").reset_index()
profiles_src = profiles_src.set_index("time").groupby([
    pd.Grouper(freq='240Min'), 'height', 'day'
]).mean(numeric_only=True).reset_index()
profiles_src['hour'] = profiles_src.time.dt.hour

thetav_profiles_chart = alt.Chart(
    profiles_src    
).mark_line().encode(
    alt.X("mean(value):Q").sort('-y'),
    alt.Y("height:Q"),
    alt.Color("hour:O").scale(scheme='rainbow'),
    alt.Column("day:O")
).resolve_scale(color='shared').properties(width=200, height = 200)

(bsflux_chart & winddir_chart & lhflux_profiles_chart & thetav_profiles_chart).resolve_scale(color='independent')

In [ ]:
winddir_chart = alt.Chart(
    case_studies_normal.query("measurement == 'wind direction'").reset_index()
).transform_filter(
    alt.datum.tower == 'c'
).transform_filter(
    alt.FieldOneOfPredicate('height', [3,10,20])
).mark_circle().encode(
    alt.X("time:T"),
    alt.Y("value:Q"),
    alt.Color("height:O"),
    alt.Column("day:O")
).properties(width=200, height = 200).resolve_scale(x='independent')

bsflux_chart = alt.Chart(
    case_studies_normal.query("measurement == 'snow flux'").reset_index().query("value > 0")
).mark_circle().encode(
    alt.X("time:T"),
    alt.Y("value:Q").scale(type='log'),
    alt.Color("height:O"),
    alt.Column("day:O")
).properties(width=200, height = 50).resolve_scale(x='independent')

profiles_src = case_studies_normal.query("measurement == 'w_h2o_'").query("tower == 'c'").reset_index()
profiles_src = profiles_src.set_index("time").groupby([
    pd.Grouper(freq='240Min'), 'height', 'day'
]).mean(numeric_only=True).reset_index()
profiles_src['hour'] = profiles_src.time.dt.hour

lhflux_profiles_chart = alt.Chart(
    profiles_src    
).mark_line().encode(
    alt.X("mean(value):Q").sort('-y'),
    alt.Y("height:Q"),
    alt.Color("hour:O").scale(scheme='rainbow'),
    alt.Column("day:O")
).resolve_scale(color='shared').properties(width=200, height = 200)

profiles_src = case_studies_normal.query("measurement == 'potential virtual temperature'").query("tower == 'c'").reset_index()
profiles_src = profiles_src.set_index("time").groupby([
    pd.Grouper(freq='240Min'), 'height', 'day'
]).mean(numeric_only=True).reset_index()
profiles_src['hour'] = profiles_src.time.dt.hour

thetav_profiles_chart = alt.Chart(
    profiles_src    
).mark_line().encode(
    alt.X("mean(value):Q").sort('-y'),
    alt.Y("height:Q"),
    alt.Color("hour:O").scale(scheme='rainbow'),
    alt.Column("day:O")
).resolve_scale(color='shared').properties(width=200, height = 200)

(bsflux_chart & winddir_chart & lhflux_profiles_chart & thetav_profiles_chart).resolve_scale(color='independent')

# Look at some time series of the combined results

In [ ]:
alt.Chart(
    model_results_for_stossel_comparison.set_index('time').sort_index().loc['20230401': '20230415'].reset_index()
).mark_line(opacity=0.25, color='orange').encode(
    alt.X("time:T"),
    alt.Y("latent heat flux:Q"),
    detail = 'z0'
).properties(width = 1000) + alt.Chart(
    measurements_for_stossel_comparison.sort_index().loc['20230401': '20230415'].reset_index()
).mark_circle(color='black').encode(
    alt.X("time:T"),
    alt.Y("measured:Q"),
).properties(width = 1000)

In [ ]:
alt.Chart(
    coare_model_results.set_index('time').sort_index().loc['20230401': '20230415'].reset_index()
).mark_line(opacity=0.25).encode(
    alt.X("time:T"),
    alt.Y("hlb_gperm2s:Q"),
    detail = 'z0'
).properties(width = 1000) + alt.Chart(
    measurements_for_stossel_comparison.sort_index().loc['20230401': '20230415'].reset_index()
).mark_circle(color='black').encode(
    alt.X("time:T"),
    alt.Y("measured:Q"),
).properties(width = 1000)

In [ ]:
alt.Chart(
    coare_model_results.set_index('time').sort_index().loc['20230201': '20230215'].reset_index()
).mark_line(opacity=0.25).encode(
    alt.X("time:T"),
    alt.Y("hlb_gperm2s:Q"),
    detail = 'z0'
).properties(width = 1000) + alt.Chart(
    measurements_for_stossel_comparison.sort_index().loc['20230201': '20230215'].reset_index()
).mark_circle(color='black').encode(
    alt.X("time:T"),
    alt.Y("measured:Q"),
).properties(width = 1000)

In [ ]:
coare_model_results.z0.unique()

In [ ]:
alt.Chart(
    coare_model_results.set_index('time').sort_index().loc['20230315': '20230330'].reset_index()
).transform_filter(
    alt.datum.z0 == '0.00001'
).mark_line(opacity=0.25).encode(
    alt.X("time:T"),
    alt.Y("hlb_gperm2s:Q"),
    detail = 'z0'
).properties(width = 1000) + alt.Chart(
    measurements_for_stossel_comparison.sort_index().loc['20230315': '20230330'].reset_index()
).mark_circle(color='black').encode(
    alt.X("time:T"),
    alt.Y("measured:Q"),
).properties(width = 1000)

# Calculate statistics

## Create dataset, combining measured data with model results from different sources  

Use a subset of TurbPy results, all the COARE results, and measured data at 3m on tower c, the tower and height of measurements used to run the models

### Turbpy models

In [ ]:
# select_turbpy_results_df = model_df[
#     model_df['config'].isin([
#         'MO Holtslag de Bruin andreas lengths Tsurf_c e_sat_alduchov 1e-05',
#         'MO Holtslag de Bruin andreas lengths Tsurf_c e_sat_alduchov 0.0001',
#         'MO Holtslag de Bruin andreas lengths Tsurf_c e_sat_alduchov 0.0005',
#         'MO Holtslag de Bruin andreas lengths Tsurf_c e_sat_alduchov z0_andreas',
#         'MO Holtslag de Bruin andreas lengths Tsurf_c e_sat_alduchov z0_andreas_weekly',
#     ]) 
# ]
# select_turbpy_results_df['z0'] = select_turbpy_results_df['z0'].astype('str')
# select_turbpy_results_df = select_turbpy_results_df[['time', 'z0', 'latent heat flux']].pivot_table(
#     index='time', columns='z0',
# )
# select_turbpy_results_df.columns = select_turbpy_results_df.columns.to_flat_index().str.join('_')
# select_turbpy_results_df = select_turbpy_results_df.loc[:'2023-05-09']
# select_turbpy_results_df.columns = select_turbpy_results_df.columns.to_series().apply(lambda s: f"turbpy (z0 = {s.split('_')[-1]})").values
# select_turbpy_results_df

### Measured data

In [ ]:
measured_df = tidy_df.query("variable == 'w_h2o__3m_c'").set_index('time')[['value']].rename(columns={'value': 'measured'})

### NOAA/COARE Models

In [ ]:
select_coare_results_df = coare_model_results[['time', 'config', 'hlb_gperm2s']].pivot(index='time', columns='config')
select_coare_results_df.columns = select_coare_results_df.columns.droplevel(0)
select_coare_results_df = select_coare_results_df[[
    "Tsurf_c e_sat_alduchov 0.0001 3m",
    "Tsurf_c e_sat_alduchov 0.0005 3m",
    "Tsurf_c e_sat_alduchov 1e-05 3m",
    "Tsurf_c e_sat_alduchov z0_andreas 3m",	
    "Tsurf_c e_sat_alduchov z0_andreas_weekly 3m"
]].rename(columns = {
    "Tsurf_c e_sat_alduchov 0.0001 3m": "coare (z0 = 0.0001)",
    "Tsurf_c e_sat_alduchov 0.0005 3m": "coare (z0 = 0.0005)",
    "Tsurf_c e_sat_alduchov 1e-05 3m": "coare (z0 = 1e-05)",
    "Tsurf_c e_sat_alduchov z0_andreas 3m": "coare (z0 = andreas)",
    "Tsurf_c e_sat_alduchov z0_andreas_weekly 3m": "coare (z0 = weekly)",

})

### Combine it all

In [ ]:
# select_turbpy_results_df = select_turbpy_results_df.reset_index('time')
# select_turbpy_results_df['time'] = select_turbpy_results_df['time'].dt.tz_localize(None)
# select_turbpy_results_df = select_turbpy_results_df.set_index('time')

# model_meas_df = measured_df.join(
#     select_turbpy_results_df,
#     how = 'left'
# ).join(
#     select_coare_results_df,
#     how = 'left'
# )
model_meas_df = measured_df.join(
    select_coare_results_df,
    how = 'left'
)
model_meas_nonans_df = model_meas_df.dropna()
model_meas_nonans_df

In [ ]:
model_meas_nonans_df.sum()*30*60/density_water.magnitude

In [ ]:
tidy_df.query("variable == 'w_h2o__3m_c'").set_index('time')[['value']].cumsum().max().value*seconds_in_timestemp/density_water.magnitude

In [ ]:
coare_seasonal_model_results[coare_seasonal_model_results.config.str.contains('Tsurf_c')].query("meas_height == '3m'")

## Do statistics calculations
1. Mean Absolute Error
2. Mean Relative Error
3. R^2
4. NSE

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, r2_score
# define a function for Nash Sutcliffe
def nse(targets, predictions):
    return 1-(np.sum((targets-predictions)**2)/np.sum((targets-np.mean(targets))**2))

In [ ]:
def get_stats_df(df, data_desc):
    return pd.DataFrame([
            # [data_desc, 'ME', "turbpy (z0 = 1e-05)", (df["turbpy (z0 = 1e-05)"] - df["measured"]).values.mean() ],
            # # [data_desc, 'ME', "turbpy (z0 = 0.0001)", (df["turbpy (z0 = 0.0001)"] - df["measured"]).values.mean() ],
            # # [data_desc, 'ME', "turbpy (z0 = 0.0005)", (df["turbpy (z0 = 0.0005)"] - df["measured"]).values.mean() ],
            # # [data_desc, 'ME', "turbpy (z0 = andreas)", (df["turbpy (z0 = andreas)"] - df["measured"]).values.mean() ],
            # # [data_desc, 'ME', "turbpy (z0 = weekly)", (df["turbpy (z0 = weekly)"] - df["measured"]).values.mean() ],
            [data_desc, 'ME', "coare (z0 = 1e-05)", (df["coare (z0 = 1e-05)"] - df["measured"]).values.mean() ],
            [data_desc, 'ME', "coare (z0 = 0.0001)", (df["coare (z0 = 0.0001)"] - df["measured"]).values.mean() ],
            [data_desc, 'ME', "coare (z0 = 0.0005)", (df["coare (z0 = 0.0005)"] - df["measured"]).values.mean() ],
            [data_desc, 'ME', "coare (z0 = andreas)", (df["coare (z0 = andreas)"] - df["measured"]).values.mean() ],
            [data_desc, 'ME', "coare (z0 = weekly)", (df["coare (z0 = weekly)"] - df["measured"]).values.mean() ],
            
            # # [data_desc, 'MAE', "turbpy (z0 = 1e-05)", mean_absolute_error(df["measured"], df["turbpy (z0 = 1e-05)"])],
            # # [data_desc, 'MAE', "turbpy (z0 = 0.0001)", mean_absolute_error(df["measured"], df["turbpy (z0 = 0.0001)"])],
            # # [data_desc, 'MAE', "turbpy (z0 = 0.0005)", mean_absolute_error(df["measured"], df["turbpy (z0 = 0.0005)"])],
            # # [data_desc, 'MAE', "turbpy (z0 = andreas)", mean_absolute_error(df["measured"], df["turbpy (z0 = andreas)"])],
            # # [data_desc, 'MAE', "turbpy (z0 = weekly)", mean_absolute_error(df["measured"], df["turbpy (z0 = weekly)"])],
            [data_desc, 'MAE', "coare (z0 = 1e-05)", mean_absolute_error(df["measured"], df["coare (z0 = 1e-05)"])],
            [data_desc, 'MAE', "coare (z0 = 0.0001)", mean_absolute_error(df["measured"], df["coare (z0 = 0.0001)"])],
            [data_desc, 'MAE', "coare (z0 = 0.0005)", mean_absolute_error(df["measured"], df["coare (z0 = 0.0005)"])],
            [data_desc, 'MAE', "coare (z0 = andreas)", mean_absolute_error(df["measured"], df["coare (z0 = andreas)"])],
            [data_desc, 'MAE', "coare (z0 = weekly)", mean_absolute_error(df["measured"], df["coare (z0 = weekly)"])],
        
            # # [data_desc, 'MAPE', "turbpy (z0 = 1e-05)", mean_absolute_percentage_error(df["measured"], df["turbpy (z0 = 1e-05)"])],
            # # [data_desc, 'MAPE', "turbpy (z0 = 0.0001)", mean_absolute_percentage_error(df["measured"], df["turbpy (z0 = 0.0001)"])],
            # # [data_desc, 'MAPE', "turbpy (z0 = 0.0005)", mean_absolute_percentage_error(df["measured"], df["turbpy (z0 = 0.0005)"])],
            # # [data_desc, 'MAPE', "turbpy (z0 = andreas)", mean_absolute_percentage_error(df["measured"], df["turbpy (z0 = andreas)"])],
            # # [data_desc, 'MAPE', "turbpy (z0 = weekly)", mean_absolute_percentage_error(df["measured"], df["turbpy (z0 = weekly)"])],
            [data_desc, 'MAPE', "coare (z0 = 1e-05)", mean_absolute_percentage_error(df["measured"], df["coare (z0 = 1e-05)"])],
            [data_desc, 'MAPE', "coare (z0 = 0.0001)", mean_absolute_percentage_error(df["measured"], df["coare (z0 = 0.0001)"])],
            [data_desc, 'MAPE', "coare (z0 = 0.0005)", mean_absolute_percentage_error(df["measured"], df["coare (z0 = 0.0005)"])],
            [data_desc, 'MAPE', "coare (z0 = andreas)", mean_absolute_percentage_error(df["measured"], df["coare (z0 = andreas)"])],
            [data_desc, 'MAPE', "coare (z0 = weekly)", mean_absolute_percentage_error(df["measured"], df["coare (z0 = weekly)"])],

            # # [data_desc, 'r2', "turbpy (z0 = 1e-05)", r2_score(df["measured"], df["turbpy (z0 = 1e-05)"])],
            # # [data_desc, 'r2', "turbpy (z0 = 0.0001)", r2_score(df["measured"], df["turbpy (z0 = 0.0001)"])],
            # # [data_desc, 'r2', "turbpy (z0 = 0.0005)", r2_score(df["measured"], df["turbpy (z0 = 0.0005)"])],
            # # [data_desc, 'r2', "turbpy (z0 = andreas)", r2_score(df["measured"], df["turbpy (z0 = andreas)"])],
            # # [data_desc, 'r2', "turbpy (z0 = weekly)", r2_score(df["measured"], df["turbpy (z0 = weekly)"])],
            [data_desc, 'r2', "coare (z0 = 1e-05)", r2_score(df["measured"], df["coare (z0 = 1e-05)"])],
            [data_desc, 'r2', "coare (z0 = 0.0001)", r2_score(df["measured"], df["coare (z0 = 0.0001)"])],
            [data_desc, 'r2', "coare (z0 = 0.0005)", r2_score(df["measured"], df["coare (z0 = 0.0005)"])],
            [data_desc, 'r2', "coare (z0 = andreas)", r2_score(df["measured"], df["coare (z0 = andreas)"])],
            [data_desc, 'r2', "coare (z0 = weekly)", r2_score(df["measured"], df["coare (z0 = weekly)"])],
            
            # # [data_desc, 'NSE', "turbpy (z0 = 1e-05)", nse(df["measured"], df["turbpy (z0 = 1e-05)"])],
            # # [data_desc, 'NSE', "turbpy (z0 = 0.0001)", nse(df["measured"], df["turbpy (z0 = 0.0001)"])],
            # # [data_desc, 'NSE', "turbpy (z0 = 0.0005)", nse(df["measured"], df["turbpy (z0 = 0.0005)"])],
            # # [data_desc, 'NSE', "turbpy (z0 = andreas)", nse(df["measured"], df["turbpy (z0 = andreas)"])],
            # # [data_desc, 'NSE', "turbpy (z0 = weekly)", nse(df["measured"], df["turbpy (z0 = weekly)"])],
            [data_desc, 'NSE', "coare (z0 = 1e-05)", nse(df["measured"], df["coare (z0 = 1e-05)"])],
            [data_desc, 'NSE', "coare (z0 = 0.0001)", nse(df["measured"], df["coare (z0 = 0.0001)"])],
            [data_desc, 'NSE', "coare (z0 = 0.0005)", nse(df["measured"], df["coare (z0 = 0.0005)"])],
            [data_desc, 'NSE', "coare (z0 = andreas)", nse(df["measured"], df["coare (z0 = andreas)"])],
            [data_desc, 'NSE', "coare (z0 = weekly)", nse(df["measured"], df["coare (z0 = weekly)"])],
            
            
        ], 
        columns=['data desc', 'statistic', 'model', 'value']
    )

# Plot Statistical Results

### For different coupling regimes (using the decoupling metric) (following Peltola et al., 2021)

In [ ]:
coupled_times = tidy_df.query("variable == 'omega_3m_c'").query(
    "value >= 0.61"
).time

decoupled_times = tidy_df.query("variable == 'omega_3m_c'").query(
    "value < 0.43"
).time

weaklycoupled_times = tidy_df.query("variable == 'omega_3m_c'").query(
    "value < 0.61 & value >= 0.43"
).time

blowing_snow_times = pd.concat([
    tidy_df.query("variable == 'SF_avg_2m_ue'").query("value > 0").time,
    tidy_df.query("variable == 'SF_avg_1m_ue'").query("value > 0").time
])

clear_times = tidy_df.query("variable == 'SF_avg_2m_ue'").time[
    ~ tidy_df.query("variable == 'SF_avg_2m_ue'").time.isin(blowing_snow_times)
]

In [ ]:
all_stats_df = pd.concat([
    get_stats_df(model_meas_nonans_df, data_desc='all'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(decoupled_times)], data_desc='decoupled'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(weaklycoupled_times)], data_desc='weakly coupled'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(coupled_times)], data_desc='coupled'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(blowing_snow_times)], data_desc='bs'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(clear_times)], data_desc='no bs'),
])

In [ ]:
print(len(model_meas_nonans_df))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(decoupled_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(weaklycoupled_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(coupled_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(blowing_snow_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(clear_times)]))

In [ ]:
all_stats_df.query("statistic == 'NSE'")

In [ ]:
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'ME'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N").sort(['all', 'decoupled', 'weakly coupled', 'coupled', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'MAE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N").sort(['all', 'decoupled', 'weakly coupled', 'coupled', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'MAPE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'decoupled', 'weakly coupled', 'coupled', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'r2'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'decoupled', 'weakly coupled', 'coupled', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'NSE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'decoupled', 'weakly coupled', 'coupled', 'no bs', 'ns'])
).properties(width=200, height = 100)

In [ ]:
coare_model_results_statistics_plot = alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'ME'
).mark_bar().encode(
    alt.X("value:Q").title("Mean Error (g/m^2/s)"),
    alt.Y("model:N"),
    alt.Row("statistic:N").header(None),
    alt.Column("data desc:N").sort(['all', 'decoupled', 'weakly coupled', 'coupled', 'no bs', 'ns']).title(None)
).properties(width=100, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'NSE'
).mark_bar().encode(
    alt.X("value:Q").title("NSE"),
    alt.Y("model:N"),
    alt.Row("statistic:N").header(None),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'decoupled', 'weakly coupled', 'coupled', 'no bs', 'ns'])
).properties(width=100, height = 100)
coare_model_results_statistics_plot.save("coare_model_results_statistics_plot.png", ppi=200)
coare_model_results_statistics_plot

In [ ]:
round(all_stats_df.query("statistic == 'ME'").pivot(
    index='model',
    columns='data desc',
    values='value'
)*1000, 2).style.set_caption("Mean Error, mg/m^2/s").format('{:.2f}')

In [ ]:
round(all_stats_df.query("statistic == 'NSE'").pivot(
    index='model',
    columns='data desc',
    values='value'
), 2).style.set_caption("Nash-Sutcliffe Model Efficiency").format('{:.2f}')

In [ ]:
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'ME'
).mark_bar().encode(
    alt.Y("value:Q"),
    alt.X("model:N").axis(labelAngle=-45),
    alt.Row("statistic:N"),
    alt.Column("data desc:N").sort(['all', 'decoupled', 'weakly coupled', 'coupled', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'NSE'
).mark_bar().encode(
    alt.Y("value:Q"),
    alt.X("model:N").axis(labelAngle=-45),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'decoupled', 'weakly coupled', 'coupled', 'no bs', 'ns'])
).properties(width=200, height = 100)

In [ ]:
fig, axes = plt.subplots(1,3, figsize=(10,3), sharex=True, sharey=True)

axes[0].scatter(
    model_meas_nonans_df[model_meas_nonans_df.index.isin(decoupled_times)]['measured'],
    model_meas_nonans_df[model_meas_nonans_df.index.isin(decoupled_times)]['coare (z0 = 1e-05)'],
    s=1,
    label='decoupled'
)
axes[0].set_title(
    f"r^2 = {round(r2_score(
        model_meas_nonans_df[model_meas_nonans_df.index.isin(decoupled_times)]['measured'],
        model_meas_nonans_df[model_meas_nonans_df.index.isin(decoupled_times)]['coare (z0 = 1e-05)'],
    ), 3)}"
)
axes[1].scatter(
    model_meas_nonans_df[model_meas_nonans_df.index.isin(weaklycoupled_times)]['measured'],
    model_meas_nonans_df[model_meas_nonans_df.index.isin(weaklycoupled_times)]['coare (z0 = 1e-05)'],
    s=1,
    label='weakly coupled'
)
axes[1].set_title(
    f"r^2 = {round(r2_score(
        model_meas_nonans_df[model_meas_nonans_df.index.isin(weaklycoupled_times)]['measured'],
        model_meas_nonans_df[model_meas_nonans_df.index.isin(weaklycoupled_times)]['coare (z0 = 1e-05)'],
    ), 3)}"
)
axes[2].scatter(
    model_meas_nonans_df[model_meas_nonans_df.index.isin(coupled_times)]['measured'],
    model_meas_nonans_df[model_meas_nonans_df.index.isin(coupled_times)]['coare (z0 = 1e-05)'],
    s=1,
    label='coupled'
)
axes[2].set_title(
    f"r^2 = {round(r2_score(
        model_meas_nonans_df[model_meas_nonans_df.index.isin(coupled_times)]['measured'],
        model_meas_nonans_df[model_meas_nonans_df.index.isin(coupled_times)]['coare (z0 = 1e-05)'],
    ), 3)}"
)

for ax in axes:
    ax.plot([-0.02,0.06],[-0.02,0.06], color='grey', alpha=0.5, zorder=-1)
    ax.set_xlim(-0.02,0.06)
    ax.set_ylim(-0.02,0.06)
    ax.set_aspect('equal')
    ax.legend()

### For Different Stability Regimes (Using static stability)

In [ ]:
unstable_times = tidy_df.query("variable == 'temp_gradient_3m_c'").query(
    "value < -0.01"
).time

stable_times = tidy_df.query("variable == 'temp_gradient_3m_c'").query(
    "value > 0.01"
).time

neutral_times = tidy_df.query("variable == 'temp_gradient_3m_c'").query(
    "value <= 0.01 & value >= -0.01"
).time

blowing_snow_times = pd.concat([
    tidy_df.query("variable == 'SF_avg_2m_ue'").query("value > 0").time,
    tidy_df.query("variable == 'SF_avg_1m_ue'").query("value > 0").time
])

clear_times = tidy_df.query("variable == 'SF_avg_2m_ue'").time[
    ~ tidy_df.query("variable == 'SF_avg_2m_ue'").time.isin(blowing_snow_times)
]

In [ ]:
all_stats_df = pd.concat([
    get_stats_df(model_meas_nonans_df, data_desc='all'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(stable_times)], data_desc='stable'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(neutral_times)], data_desc='neutral'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(unstable_times)], data_desc='unstable'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(blowing_snow_times)], data_desc='bs'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(clear_times)], data_desc='no bs'),
])

In [ ]:
print(len(model_meas_nonans_df))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(stable_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(neutral_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(unstable_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(blowing_snow_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(clear_times)]))

In [ ]:
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'ME'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N").sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'MAE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N").sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'MAPE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'r2'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'NSE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100)

### For Different Stability Regimes (Using static stability, 0.1 threshold)

In [ ]:
unstable_times = tidy_df.query("variable == 'temp_gradient_3m_c'").query(
    "value < -0.1"
).time

stable_times = tidy_df.query("variable == 'temp_gradient_3m_c'").query(
    "value > 0.1"
).time

neutral_times = tidy_df.query("variable == 'temp_gradient_3m_c'").query(
    "value <= 0.1 & value >= -0.1"
).time

blowing_snow_times = pd.concat([
    tidy_df.query("variable == 'SF_avg_2m_ue'").query("value > 0").time,
    tidy_df.query("variable == 'SF_avg_1m_ue'").query("value > 0").time
])

clear_times = tidy_df.query("variable == 'SF_avg_2m_ue'").time[
    ~ tidy_df.query("variable == 'SF_avg_2m_ue'").time.isin(blowing_snow_times)
]

In [ ]:
all_stats_df = pd.concat([
    get_stats_df(model_meas_nonans_df, data_desc='all'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(stable_times)], data_desc='stable'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(neutral_times)], data_desc='neutral'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(unstable_times)], data_desc='unstable'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(blowing_snow_times)], data_desc='bs'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(clear_times)], data_desc='no bs'),
])

In [ ]:
print(len(model_meas_nonans_df))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(stable_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(neutral_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(unstable_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(blowing_snow_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(clear_times)]))

In [ ]:
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'MAE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N").sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'MAPE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'r2'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'NSE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100)

### For Different Stability Regimes (Using dynamic stability)

In [ ]:
unstable_times = tidy_df.query("variable == 'Ri_3m_c'").query(
    "value < -0.01"
).time

stable_times = tidy_df.query("variable == 'Ri_3m_c'").query(
    "value > 0.25"
).time

neutral_times = tidy_df.query("variable == 'Ri_3m_c'").query(
    "value <= 0.25 & value >= -0.01"
).time

blowing_snow_times = pd.concat([
    tidy_df.query("variable == 'SF_avg_2m_ue'").query("value > 0").time,
    tidy_df.query("variable == 'SF_avg_1m_ue'").query("value > 0").time
])

clear_times = tidy_df.query("variable == 'SF_avg_2m_ue'").time[
    ~ tidy_df.query("variable == 'SF_avg_2m_ue'").time.isin(blowing_snow_times)
]

In [ ]:
all_stats_df = pd.concat([
    get_stats_df(model_meas_nonans_df, data_desc='all'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(stable_times)], data_desc='stable'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(neutral_times)], data_desc='neutral'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(unstable_times)], data_desc='unstable'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(blowing_snow_times)], data_desc='bs'),
    get_stats_df(model_meas_nonans_df[model_meas_nonans_df.index.isin(clear_times)], data_desc='no bs'),
])

In [ ]:
print(len(model_meas_nonans_df))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(stable_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(neutral_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(unstable_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(blowing_snow_times)]))
print(len(model_meas_nonans_df[model_meas_nonans_df.index.isin(clear_times)]))

In [ ]:
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'MAE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N").sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'MAPE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'r2'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100) &\
alt.Chart(all_stats_df).transform_filter(
    alt.datum.statistic == 'NSE'
).mark_bar().encode(
    alt.X("value:Q"),
    alt.Y("model:N"),
    alt.Row("statistic:N"),
    alt.Column("data desc:N", header=alt.Header(labels=False), title=None).sort(['all', 'stable', 'neutral', 'unstable', 'no bs', 'ns'])
).properties(width=200, height = 100)

# WHAT is going on with unstable times???

In [ ]:
unstable_times_by_ri = tidy_df.query("variable == 'Ri_3m_c'").query(
    "value < -0.01"
).time

unstable_times_by_grad = tidy_df.query("variable == 'temp_gradient_3m_c'").query(
    "value < -0.01"
).time

In [ ]:
pd.set_option('display.max_rows', 100)

In [ ]:
src = pd.DataFrame(unstable_times_by_grad)
src = src[src.time.dt.month == 1]
meas = alt.Chart(model_meas_df[model_meas_df.index.isin(src.time)].reset_index()).mark_circle(color='black').encode(
    alt.X("time:T"),
    alt.Y("measured:Q")
).properties(width=1200)

In [ ]:
chart_src = model_meas_df[model_meas_df.index.isin(src.time)].drop(columns=['measured'])
    # ['turbpy (z0 = 0.0001)', 'turbpy (z0 = 0.0005)', 'turbpy (z0 = 1e-05)',
    #    'coare (z0 = 0.0001)', 'coare (z0 estimated)',
    #    'coare (z0 estimated weekly)', 'coare (z0 estimated weekly simple)'],
model = alt.Chart(chart_src.reset_index()).mark_circle(color='red').encode(
    alt.X("time:T"),
    alt.Y("coare (z0 estimated weekly simple):Q"),
    # alt.Color("key:N")
)

In [ ]:
meas+model

# Examine mean errors as functions of time, months, stability regimes, blowing snow

In [ ]:
# unstable_times = tidy_df.query("variable == 'temp_gradient_3m_c'").query(
#     "value < -0.5"
# ).time

# stable_times = tidy_df.query("variable == 'temp_gradient_3m_c'").query(
#     "value > 0.5"
# ).time

# neutral_times = tidy_df.query("variable == 'temp_gradient_3m_c'").query(
#     "value <= 0.5 & value >= -0.5"
# ).time

unstable_times = tidy_df.query("variable == 'Ri_3m_c'").query(
    "value < -0.01"
).time

stable_times = tidy_df.query("variable == 'Ri_3m_c'").query(
    "value > 0.25"
).time

neutral_times = tidy_df.query("variable == 'Ri_3m_c'").query(
    "value <= 0.25 & value >= -0.01"
).time

In [ ]:
residuals_df = model_meas_nonans_df.copy(deep=True)
residuals_df["turbpy (z0 = 0.0001)"]               = residuals_df["turbpy (z0 = 0.0001)"]              - residuals_df["measured"]
residuals_df["turbpy (z0 = 0.0005)"]               = residuals_df["turbpy (z0 = 0.0005)"]              - residuals_df["measured"]
residuals_df["turbpy (z0 = 1e-05)"]                = residuals_df["turbpy (z0 = 1e-05)"]               - residuals_df["measured"]
residuals_df["coare (z0 = 0.0001)"]                = residuals_df["coare (z0 = 0.0001)"]               - residuals_df["measured"]
residuals_df["coare (z0 estimated)"]               = residuals_df["coare (z0 estimated)"]              - residuals_df["measured"]
residuals_df["coare (z0 estimated weekly)"]        = residuals_df["coare (z0 estimated weekly)"]       - residuals_df["measured"]
residuals_df["coare (z0 estimated weekly simple)"] = residuals_df["coare (z0 estimated weekly simple)"]- residuals_df["measured"]

# times with more characteristics 
upward_flux_times = model_meas_nonans_df[model_meas_nonans_df.measured > 0].index.values

residuals_df = residuals_df[
    [
        "turbpy (z0 = 0.0001)",
        "turbpy (z0 = 0.0005)",
        "turbpy (z0 = 1e-05)",
        "coare (z0 = 0.0001)",
        "coare (z0 estimated)",
        "coare (z0 estimated weekly)",
        "coare (z0 estimated weekly simple)"
    ]
].reset_index().melt(id_vars = ['time'])
residuals_df['timeofday'] = residuals_df.time.apply(lambda dt: dt.replace(year = 1970, month=1, day=1))
residuals_df['month'] = residuals_df.time.dt.month
residuals_df = pd.concat([
    residuals_df[residuals_df.time.isin(blowing_snow_times)].assign(bs='bs'),
    residuals_df[~ residuals_df.time.isin(blowing_snow_times)].assign(bs='no bs')
])
residuals_df = pd.concat([
    residuals_df[residuals_df.time.isin(upward_flux_times)].assign(flux_upward='upward'),
    residuals_df[~ residuals_df.time.isin(upward_flux_times)].assign(flux_upward='downward')
])
residuals_df = pd.concat([
    residuals_df[(residuals_df.flux_upward == 'upward') & (residuals_df.value < 0)].assign(counter_gradient='counter gradient'),
    residuals_df[(residuals_df.flux_upward == 'upward') & (residuals_df.value > 0)].assign(counter_gradient='along gradient'),
    residuals_df[(residuals_df.flux_upward == 'downward') & (residuals_df.value > 0)].assign(counter_gradient='counter gradient'),
    residuals_df[(residuals_df.flux_upward == 'downward') & (residuals_df.value < 0)].assign(counter_gradient='along gradient'),
])
residuals_df = pd.concat([
    residuals_df[residuals_df.time.isin(stable_times)].assign(stability='stable'),
    residuals_df[residuals_df.time.isin(neutral_times)].assign(stability='neutral'),
    residuals_df[residuals_df.time.isin(unstable_times)].assign(stability='unstable')
])


residuals_df

In [ ]:
src = residuals_df.set_index('time').sort_index().groupby([pd.Grouper(freq='1D'), 'variable']).sum(numeric_only=True).reset_index()
src
alt.Chart(src.query).mark_bar().encode(
    alt.X("time:T"),
    alt.Y("value:Q"),
    alt.Row("variable:O")
).properties(width=1000)

In [ ]:
print(
    residuals_df.query("stability ==  'unstable'").query("bs == 'bs'").value.sum()*seconds_in_timestep/density_water.magnitude
)
print(
    residuals_df.query("stability ==  'stable'").query("bs == 'bs'").value.sum()*seconds_in_timestep/density_water.magnitude
)
print(
    residuals_df.query("stability ==  'neutral'").query("bs == 'bs'").value.sum()*seconds_in_timestep/density_water.magnitude
)

print(
    residuals_df.query("stability ==  'unstable'").query("bs == 'no bs'").value.sum()*seconds_in_timestep/density_water.magnitude
)
print(
    residuals_df.query("stability ==  'stable'").query("bs == 'no bs'").value.sum()*seconds_in_timestep/density_water.magnitude
)
print(
    residuals_df.query("stability ==  'neutral'").query("bs == 'no bs'").value.sum()*seconds_in_timestep/density_water.magnitude
)

In [ ]:
src = residuals_df.query("flux_upward == 'upward'")

all_data_chart = alt.Chart(
    src
).transform_filter(
    alt.datum.month != 5
).mark_line().encode(
    alt.X("hours(timeofday):T"),
    alt.Y("mean(value):Q"),
    alt.Color("month:O").scale(scheme='turbo'),
    alt.Column("stability:N").title(None),
    alt.Row("flux_upward:N").title(None),
).properties(height = 100, width=200, title='all data')

bs_chart = alt.Chart(
    src.query("bs == 'bs'")
).transform_filter(
    alt.datum.month != 5
).mark_line().encode(
    alt.X("hours(timeofday):T"),
    alt.Y("mean(value):Q"),
    alt.Color("month:O").scale(scheme='turbo'),
    alt.Column("stability:N").title(None),
    alt.Row("flux_upward:N").title(None),
).properties(height = 100, width=200, title='blowing snow')

nobs_chart = alt.Chart(
    src.query("bs == 'no bs'")
).transform_filter(
    alt.datum.month != 5
).mark_line().encode(
    alt.X("hours(timeofday):T"),
    alt.Y("mean(value):Q"),
    alt.Color("month:O").scale(scheme='turbo'),
    alt.Column("stability:N").title(None),
    alt.Row("flux_upward:N").title(None),
).properties(height = 100, width=200, title='no blowing snow')

(all_data_chart & bs_chart & nobs_chart).resolve_scale(y='shared')

In [ ]:
print(
    src.query("stability ==  'unstable'").query("bs == 'bs'").query("flux_upward == 'upward'").value.sum()*seconds_in_timestep/density_water.magnitude
)
print(
    src.query("stability ==  'stable'").query("bs == 'bs'").query("flux_upward == 'upward'").value.sum()*seconds_in_timestep/density_water.magnitude
)
print(
    src.query("stability ==  'neutral'").query("bs == 'bs'").query("flux_upward == 'upward'").value.sum()*seconds_in_timestep/density_water.magnitude
)

print(
    src.query("stability ==  'unstable'").query("bs == 'no bs'").query("flux_upward == 'upward'").value.sum()*seconds_in_timestep/density_water.magnitude
)
print(
    src.query("stability ==  'stable'").query("bs == 'no bs'").query("flux_upward == 'upward'").value.sum()*seconds_in_timestep/density_water.magnitude
)
print(
    src.query("stability ==  'neutral'").query("bs == 'no bs'").query("flux_upward == 'upward'").value.sum()*seconds_in_timestep/density_water.magnitude
)

In [ ]:
unstable_chart = alt.Chart(
    
).transform_filter(
    alt.datum.month != 5
).mark_line().encode(
    alt.X("hours(timeofday):T"),
    alt.Y("mean(value):Q"),
    alt.Color("month:O").scale(scheme='turbo'),
    alt.Column("bs:N").title(None),
    alt.Row("flux_upward:N").title(None),
)

In [ ]:
alt.Chart(residuals_df).transform_filter(
    alt.datum.month != 5
).mark_line().encode(
    alt.X("hours(timeofday):T"),
    alt.Y("mean(value):Q"),
    alt.Color("month:O").scale(scheme='turbo'),
    alt.Column("bs:N"),
    alt.Row("flux_upward:N")
).properties(height = 100, title='all data')

# Plot Measured vs Modeled


# Scatterplots

In [ ]:
r2_score(
    model_meas_df.dropna()['measured'],
    model_meas_df.dropna()['modeled z0=1e-5'],
)

In [ ]:
def model_comparison_plot(src):
    one_to_one_line = alt.Chart(pd.DataFrame({
        'x': [-0.05, -0.025, 0.0, 0.025, 0.05],
        'y': [-0.05, -0.025, 0.0, 0.025, 0.05]
    })).mark_line(
        color='grey'
    ).encode(x = 'x', y = 'y')

    value_r2_score_1eneg4 = round(
        r2_score(
            src.dropna()['measured'],
            src.dropna()['modeled z0=1e-4'],
        ),
        3
    )
    value_r2_score_1eneg5 = round(
        r2_score(
            src.dropna()['measured'],
            src.dropna()['modeled z0=1e-5'],
        ),
        3
    )
    scale = alt.Scale(domain = [-0.05, 0.05], clamp=True)
    axis = alt.Axis(values=[-0.05, -0.025, 0.0, 0.025, 0.05])
    return (
        # (
        #     one_to_one_line+alt.Chart(src).mark_circle(size=10, opacity=0.1).encode(
        #         alt.X("measured:Q").scale(scale).axis(axis),
        #         alt.Y("modeled z0=1e-4:Q").scale(scale).axis(axis),
        #     ).properties(width=200, height = 200, title=f"r² = {value_r2_score_1eneg4} (n = {len(src)})") | \
        #     one_to_one_line+alt.Chart(src).mark_rect().encode(
        #         alt.X("measured:Q").bin(maxbins=30).scale(scale).axis(axis),
        #         alt.Y("modeled z0=1e-4:Q").bin(maxbins=30).scale(scale).axis(axis),
        #         alt.Color("count():Q")
        #     ).properties(width=200, height = 200, title=f"r² = {value_r2_score_1eneg4} (n = {len(src)})")
        # ) &\
        (
            one_to_one_line+alt.Chart(src).mark_circle(size=10, opacity=0.1).encode(
                alt.X("measured:Q").scale(scale).axis(axis),
                alt.Y("modeled z0=1e-5:Q").scale(scale).axis(axis),
            ).properties(width=200, height = 200, title=f"r² = {value_r2_score_1eneg5} (n = {len(src)})") | \
            one_to_one_line+alt.Chart(src).mark_rect().encode(
                alt.X("measured:Q").bin(maxbins=30).scale(scale).axis(axis),
                alt.Y("modeled z0=1e-5:Q").bin(maxbins=30).scale(scale).axis(axis),
                alt.Color("count():Q")
            ).properties(width=200, height = 200, title=f"r² = {value_r2_score_1eneg5} (n = {len(src)})")   
        )
    )

In [ ]:
winter_times = tidy_df.query("variable == 'SF_avg_2m_ue'").set_index("time").loc[:"2023-02-28"].index.values
spring_times = tidy_df.query("variable == 'SF_avg_2m_ue'").set_index("time").loc["2023-03-01":].index.values

In [ ]:
model_comparison_plot(model_meas_df)

In [ ]:
(model_comparison_plot(model_meas_df[model_meas_df.time.isin(unstable_times.values)]).properties(title='Unstable data') |\
model_comparison_plot(model_meas_df[model_meas_df.time.isin(stable_times.values)]).properties(title='Stable data') |\
model_comparison_plot(model_meas_df[model_meas_df.time.isin(neutral_times.values)]).properties(title='Neutral data')).resolve_scale(color='independent')

In [ ]:
(
model_comparison_plot(model_meas_df[model_meas_df.time.isin(blowing_snow_times.values)]).properties(title='Blowing snow data') |\
model_comparison_plot(model_meas_df[model_meas_df.time.isin(clear_times.values)]).properties(title='Clear data')).resolve_scale(color='independent')

In [ ]:
(
model_comparison_plot(model_meas_df[model_meas_df.time.isin(winter_times.values)]).properties(title='Winter data') |\
model_comparison_plot(model_meas_df[model_meas_df.time.isin(spring_times.values)]).properties(title='Spring data')).resolve_scale(color='independent')