In [3]:
import pandas as pd
import altair as alt

In [4]:
ls /data2/elilouis/sublimationofsnow/tilden_precip_data

ls: cannot access /data2/elilouis/sublimationofsnow/tilden_precip_data: No such file or directory

In [5]:
cat /data2/elilouis/sublimationofsnow/tilden_precip_data/KP23_001-177.PRECIP1

cat: /data2/elilouis/sublimationofsnow/tilden_precip_data/KP23_001-177.PRECIP1: No such file or directory

In [8]:
fn_2022 = "/storage/elilouis/sublimationofsnow/tilden_precip_data/KP22_274-365-daily-precip.dat"
fn_2023 = "/storage/elilouis/sublimationofsnow/tilden_precip_data/KP23_001-177-daily-precip.dat"

output_file = "/storage/elilouis/sublimationofsnow/tilden_precip_data/kettle_ponds_precip.csv"

In [9]:
df = pd.concat([
    pd.read_csv(fn_2022, delim_whitespace=True),
    pd.read_csv(fn_2023, delim_whitespace=True)
])
# create timestamps from strings
df['date'] = pd.to_datetime(df['date'])
# calculate accumulated precip
df['acc_prec'] = df['avg'].cumsum()

In [10]:
df.to_csv(output_file)

In [13]:
df.set_index('date').loc["2022-11-30": "2023-05-09"]-77.04

               doy  acc_prec    avg   geo1   geo2   geo3
date
2022-11-30  256.96      0.00 -77.04 -77.04 -77.04 -77.04
2022-12-01  257.96      0.00 -77.04 -77.04 -77.04 -77.04
2022-12-02  258.96     15.23 -61.81 -61.38 -61.76 -62.27
2022-12-03  259.96     16.93 -75.34 -75.24 -75.29 -75.50
2022-12-04  260.96     16.93 -77.04 -77.04 -77.04 -77.04
...            ...       ...    ...    ...    ...    ...
2023-05-05   47.96    623.71 -77.04 -77.04 -77.04 -77.04
2023-05-06   48.96    624.85 -75.90 -75.98 -75.98 -75.74
2023-05-07   49.96    624.85 -77.04 -77.04 -77.04 -77.04
2023-05-08   50.96    624.85 -77.04 -77.04 -77.04 -77.04
2023-05-09   51.96    624.85 -77.04 -77.04 -77.04 -77.04

[161 rows x 6 columns]

In [ ]:
base = alt.Chart(df).encode(alt.X("date:T")).properties(height = 200, width = 400)
base.mark_line().encode(
    alt.Y("acc_prec:Q").title("Cumulative precipitation (mm SWE)")
) & base.mark_bar().encode(
    alt.Y("avg:Q").title("Daily precipitation (mm SWE)")
)

In [ ]:
src = df.query("date >= '2022-11-30'").query("date < '2023-05-11'")
base = alt.Chart(src).encode(alt.X("date:T")).properties(height = 200, width = 400)
base.mark_line().encode(
    alt.Y("acc_prec:Q").title("Cumulative precipitation (mm SWE)")
) & base.mark_bar().encode(
    alt.Y("avg:Q").title("Daily precipitation (mm SWE)")
)

In [ ]:
src.acc_prec.max()